<link rel="stylesheet" type="text/css" href="stylesheets/graph.css" />
<style>
    #retentionChart{
        background:#fefefe;
        padding: 50px 20px;
    }

    .bottom-padding{
        margin-bottom: 100px;
    }

</style>
<section class="content-header">
    <h1>Dashboard </h1>
    <div id="txt" class="pull-right"></div>
    <h1 class="pull-right" id="currentDate"></h1>
</section>

<section class="content">
    {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}

    <div class = "dashboard-section">
        <div class="row bottom-padding">
            <div class="col-md-12">
                <h3>Hello {{name}},</h3>
                <h4>You have <strong>10</strong> upcoming appointments today.</h4>
                <hr/>
            </div>

            <div class="col-md-4 graph-col">
                <center>
                    <ul class="graph-container">
                        <li>
                            <div class="bar-wrapper">
                                <div class="bar-container">
                                    <div class="bar-background"></div>
                                    <div class="bar-inner" id="checkins-bar"></div>
                                    <div class="bar-foreground"></div>
                                </div>
                            </div>
                            <div class="graph-data">{{num_checkins}}/{{num_appt}}</div>
                        </li>
                    </ul>
                    <h4>Number of Check Ins Today</h4>
                </center>
            </div>
            <div class="col-md-4 graph-col">
                <center>
                    <ul class="graph-container">
                        <li>
                            <div class="bar-wrapper">
                                <div class="bar-container">
                                    <div class="bar-background"></div>
                                    <div class="bar-inner" id ="appts-bar"></div>
                                    <div class="bar-foreground"></div>
                                </div>
                            </div>
                            <div class="graph-data">{{appts_past}}/{{num_appt}}</div>
                        </li>
                    </ul>
                    <h4>Total Appointments Today</h4>
                </center>

            </div>
            <div class="col-md-4 graph-col">
                <center>
                    <ul class="graph-container">
                        <li>
                            <div class="bar-wrapper">
                                <div class="bar-container">
                                    <div class="bar-background"></div>
                                    <div class="bar-inner" id ="openings-bar"></div>
                                    <div class="bar-foreground"></div>
                                </div>
                            </div>
                            <div class="graph-data">{{num_appt}}/{{num_open}}</div>
                        </li>
                    </ul>
                    <h4>Appointment Openings Filled Today</h4>
                </center>
            </div>
        </div>


    </div> <!-- end container-->

    <div class = "dashboard-section">
        <div class="row">
            <div class="col-md-12">
                <h3> Check Ins vs. Scheduled Appointments</h3>
                <h4>Check your retention stats.</h4>
                <hr/>
            </div>

            <div class="col-md-12">
                <div class="white-chart">
                    <canvas id="retentionChart"></canvas>
                </div>

            </div>
        </div>


    </div> <!-- end container-->



</section>

<!-- import chart.js-->
<script type="text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
<script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<!-- generate line chart for checkins vs appointments-->
<script>
    var ctx = document.getElementById('retentionChart').getContext('2d');
    ctx.canvas.height = 450;

    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ["date 1", "date2", " date 3 ", "date 4", "date 5 ", "date 6", "date7"],
            datasets: [{
                label: "check ins",
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45],
                fill : false
            },
            {
                label: "appointments",
                backgroundColor: 'rgb(0, 99, 132)',
                borderColor: 'rgb(0, 99, 132)',
                data: [1, 10, 7, 5, 22, 31, 48],
                fill : false
            }]
        },

        // Configuration options go here
        options: {
            maintainAspectRatio: false
        }
    });

</script>

<!-- set progressbar to correct height-->
<script>
    $('#checkins-bar').css('height', '50%');
    $('#appts-bar').css('height', '20%');
    $('#openings-bar').css('height', '90%');
</script>
