<link rel="stylesheet" type="text/css" href="stylesheets/graph.css" />
<style>
    #retentionChart{
        background:#fefefe;
        padding: 50px 20px;
    }

    .bottom-padding{
        margin-bottom: 100px;
    }

</style>

<section class="content-header">
    <h1>Dashboard </h1>
    <div id="txt" class="pull-right"></div>
    <h1 class="pull-right" id="currentDate"></h1>
</section>

<section class="content">
    {{#if message}}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}

    <div class = "dashboard-section">
        <div class="row bottom-padding">
            <div class="col-md-12">
                <h3>Hello {{name}},</h3>
                <h4>You have <strong id="upcoming"></strong> upcoming appointment(s) today.</h4>
                <hr/>
            </div>


            <div class="col-md-3 graph-col">
                <center>
                    <ul class="graph-container">
                        <li>
                            <div class="bar-wrapper">
                                <div class="bar-container">
                                    <div class="bar-background"></div>
                                    <div class="bar-inner" id="checkins-bar"></div>
                                    <div class="bar-foreground"></div>
                                </div>
                            </div>
                            <div class="graph-data">
                                <span id="todayCheckins">
                                    {{todayCheckins}}
                                </span>/
                                <span id="todayAppointments">{{todayAppointments}}</span></div>
                        </li>
                    </ul>
                    <h4>Number of Check Ins Today</h4>
                </center>
            </div>

            <div class="col-md-3 graph-col">
                <center>
                    <ul class="graph-container">
                        <li>
                            <div class="bar-wrapper">
                                <div class="bar-container">
                                    <div class="bar-background"></div>
                                    <div class="bar-inner" id="missed-bar"></div>
                                    <div class="bar-foreground"></div>
                                </div>
                            </div>
                            <div class="graph-data">
                                <span id="todayMissed">{{todayMissed}}</span>/{{todayAppointments}}</div>
                        </li>
                    </ul>
                    <h4>Missed Appointments Today</h4>
                </center>

            </div>
            <div class="col-md-3 graph-col">
                <center>
                    <ul class="graph-container">
                        <li>
                            <div class="bar-wrapper">
                                <div class="bar-container">
                                    <div class="bar-background"></div>
                                    <div class="bar-inner" id="total-checkins-bar"></div>
                                    <div class="bar-foreground"></div>
                                </div>
                            </div>
                            <div class="graph-data"><span id="totalCheckins">{{totalCheckins}}</span>/
                                <span id="totalAppt">{{totalAppointments}}</span></div>
                        </li>
                    </ul>
                    <h4>Total Checkins</h4>
                </center>
            </div>
            <div class="col-md-3 graph-col">
                <center>
                    <ul class="graph-container">
                        <li>
                            <div class="bar-wrapper">
                                <div class="bar-container">
                                    <div class="bar-background"></div>
                                    <div class="bar-inner" id="total-missed-bar"></div>
                                    <div class="bar-foreground"></div>
                                </div>
                            </div>
                            <div class="graph-data"><span id="totalMissed">{{totalMissed}}</span>/{{totalAppointments}}</div>
                        </li>
                    </ul>
                    <h4>Total Missed Appointments</h4>
                </center>
            </div>
        </div>
    </div> <!-- end container-->

    <div class = "dashboard-section">
        <div class="row">
            <div class="col-md-12">
                <h3> Check Ins vs. Scheduled Appointments</h3>
                <h4>Check your retention stats.</h4>
                <hr/>
            </div>

            <div class="col-md-12">
                <div class="white-chart">
                    <canvas id="retentionChart"></canvas>
                </div>

            </div>
        </div>


    </div> <!-- end container-->

</section>

<!-- import chart.js-->
<script type="text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
<script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>



<!-- generate line chart for checkins vs appointments-->
<script>
  var chartData;

  $.get(
    '/test',
    function(data) {
        chartData = data;
        console.log(chartData.labels);
        
        var ctx = document.getElementById('retentionChart').getContext('2d');
        ctx.canvas.height = 450;

        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: chartData.labels,
                datasets: [{
                    label: "check ins",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: chartData.checkinData,
                    fill : false
                },
                {
                    label: "appointments",
                    backgroundColor: 'rgb(0, 99, 132)',
                    borderColor: 'rgb(0, 99, 132)',
                    data: chartData.apptData,
                    fill : false
                }]
            },

            // Configuration options go here
            options: {
                maintainAspectRatio: false
            }
        });
    }
  );
</script>

<!-- set progressbar to correct height-->
<script>
    var todayCheckins = parseFloat($('#todayCheckins').html());
    var todayAppointments = parseFloat($('#todayAppointments').html());
    var todayMissed = parseFloat($('#todayMissed').html());
    
     var totalCheckins = parseFloat($('#totalCheckins').html());
    var totalAppointments = parseFloat($('#totalAppt').html());
    var totalMissed = parseFloat($('#totalMissed').html());
    
     var todayCheckinsVal = parseFloat(todayCheckins/todayAppointments) * 100.0 + '%';
    var todayMissedVal = parseFloat(todayMissed/todayAppointments) * 100.0 + '%';
    var totalCheckinsVal = parseFloat(totalCheckins/totalAppointments) * 100.0 + '%';
    var totalMissedVal = parseFloat(totalMissed/totalAppointments) * 100.0 + '%';
    
    if(todayAppointments == 0){
        $('#checkins-bar').css('height', '100%');
        $('#missed-bar').css('height', '0%');
        
    }
    else{
        $('#checkins-bar').css('height', todayCheckinsVal);
        $('#missed-bar').css('height', todayMissedVal);
    }
    
    if(totalAppointments == 0){
        $('#total-checkins-bar').css('height', '100%');
    
        $('#total-missed-bar').css('height', '0%');
        
    }
    else{
        $('#total-checkins-bar').css('height', totalCheckinsVal);
        $('#total-missed-bar').css('height', totalMissedVal);
    }
    
    $('#upcoming').html(todayAppointments - (todayCheckins + todayMissed));
    
    
</script>



<script>
    

</script>
